.xyz{
    background-image: url(images/Mumbai.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
    border: 6px solid rgb(15, 14, 14); 
    /* border-radius: 50%; */
    border-style: groove;
    color: rgb(250, 247, 247);
    margin-left:70px ;
    margin-right:70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 160px;
    padding-bottom: 160px;
}
body{
    background-image: url(images/MumbaiAir.jpg);
    /* opacity: 0.3; */
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;

}

.Testing{
    color: aquamarine;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 10px;
}
.para{
    color: aquamarine;
    
    font-style: italic;
    font-size: 30px;
    text-transform: capitalize;
    text-shadow: 20px;
    text-decoration-style: dotted;
    text-align: center;
    /* word-spacing: 30px; */
    word-spacing: 10px;
}
.It{
    color: aqua;
    font-weight: bolder;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration:line-through;
}
.anchor{
    color: pink;
}
.It2{
    text-shadow: 3px 3px gray;
    line-height: 40px;
}
.merg{
    text-transform: capitalize;
    font-size: 60px;
    color: blueviolet;
}

.navbar{
    background-color: blue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 12px;
    list-style: none;
    color: white;
}

ul.a{
    /* list-style-image: url(images/tolist.jpg); */
    list-style-position: outside;
}
ol.b{
    list-style-position: inside;
}
h5{
    text-transform: capitalize;
}