.xyz{
    background-image: url(images/Monorail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; 
    background-size: cover;
    border: 4px solid rgb(15, 14, 14); 
    color: azure;
}
body{
    background-image: url(images/Mumbai.jpg);
}